 <div class="wrapper">
        <div class="book-wrapper">
          <div class="clearrow">
            <div class="col-md-8">
              <div class="book-content">
                <h2>Join the demo experience revolution</h2>
                <p>Demos have come a long way from the traditional product demo video consumers were once familiar with. Learn how interactive software demos can showcase your product in all its glory, revolutionizing the way you sell and transforming the way your customers buy. </p>
              </div>
            </div>
            <div class="col-md-4"> <a class="btn" href="#">Book a Demo</a> </div>
          </div>
        </div>
</div>