<!--Body Content Start-->

<section class="content">
    <div class="container">
      <!-- Services -->
     {% include 'section/services.njk'%}
      <!-- Services End-->
       <!-- Book Demo Section -->
      {% include 'section/book-macro.njk'%}
      <!-- Book Demo Section End -->
    </div>
</section>
  
  <!--Body Content End--> 